body {
  background: #ffdde1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  overflow: hidden;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.msg {
  font-size: 18px;
  color: #e60073;
}

.from {
  margin-top: 10px;
  font-weight: bold;
}

.hearts span {
  position: fixed;
  color: red;
  animation: float 5s linear infinite;
}

@keyframes float {
  0% { bottom: 0; opacity: 1; }
  100% { bottom: 100%; opacity: 0; }
}
